body {
  background-color: #EAF6F6;

}

hr {
  /* background-color: white; */
  /* height: 0px; */
  border-style: dotted none none;
  border-width: 5px;
  border-color: grey;
  width: 8%;
}

img {
  height: 226px;
}

h1{
  color: #66BFBF;
}

h2{
  color: #66BFBF;
}

h3{
  color: #66BFBF;
}
